
<div class="container-about">
  <div class="footer-container">
    <div class="row">
        <img class="pa-logo" alt="planetargon" src="images/PARGON_logo_digital_COL.png">
        <p class="about-planet-argon col-md font-p font-p--dark"> This page was designed and built by <a class="link--dark" href="http://www.planetargon.com/skills/ruby-on-rails-development" title="Ruby on Rails development company">Planet Argon</a>; a Ruby on Rails development shop since 2002.</p>
    </div>
  </div>
</div>
