<div class="containers containers--header header--site_logo">
  <div class="container position--relative z-index-1">
    <div class="row centerContent">
    <a href="http://www.pdxwit.org/" target="_blank"><img class="logo" alt="PDXWIT" src="images/PDXWIT-LOGO_MAIN-TP-72DPI.png"></a>
      <div class="navbar navbar-dark col-md">
          <ul class="navbar-list ml-auto navbar-right">
            <li class="nav-item active"><a class="navbar-links" href="http://www.pdxwit.org/" target="_blank">About PDXWIT</a></li>
            <li class="nav-item active"><a class="navbar-links" href="http://www.pdxwit.org/contact-us/" target="_blank" >Contact Us</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>
