
<header class="banner" role="banner">

  <div class="navigation border--bottom">
    <div class="container border--left padding-bottom-md position--relative z-index-1">
      <div class="navbar">
        <h1 class="site_logo">
          <a href="pdxwit.org"><img height="48" alt="PDXWIT" src="http://static1.squarespace.com/static/57378f7cc6fc0814566514ad/t/5850246820099e0edcfc8f9d/1529118861235/?format=1500w"</a>
          <ul>
            <li><a href="http://www.pdxwit.org/">ABOUT PDXWIT</a></li>
            <li><a href="http://www.pdxwit.org/contact-us/">CONTACT US</a></li>
          </ul>
        </h1>
      </div>
    </div>
  </div>
</header>
