<div class="section-navbar">
  <div class="nav">
    <div class="container">
      <div class="navbar">
        <h6 class="site_logo">
          <a href="pdxwit.org"><img height="130" alt="PDXWIT" src="http://static1.squarespace.com/static/57378f7cc6fc0814566514ad/t/5850246820099e0edcfc8f9d/1529118861235/?format=1500w"></a>
          <ul>
            <li><a href="http://www.pdxwit.org/">ABOUT PDXWIT</a></li>
            <li><a href="http://www.pdxwit.org/contact-us/">CONTACT US</a></li>
          </ul>
        </h6>
      </div>
    </div>
  </div>
</div>
