@font-face {
  font-family: "LeagueGothic-Regular";
  src: url("../fonts/LeagueGothic/LeagueGothic-Regular.otf");
  src: url("../fonts/LeagueGothic/leaguegothic-regular-webfont.eot");
  src: url("../fonts/LeagueGothic/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/LeagueGothic/leaguegothic-regular-webfont.woff2") format("woff2"), url("../fonts/LeagueGothic/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/LeagueGothic/leaguegothic-regular-webfont.ttf") format("truetype"), url("../fonts/LeagueGothic/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "proximanova-regular";
  src: url("../fonts/ProximaNova/proximanova-regular.otf");
  src: url("../fonts/ProximaNova/proximanova-regular-webfont.eot");
  src: url("../fonts/ProximaNova/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/proximanova-regular-webfont.woff2") format("woff2"), url("../fonts/ProximaNova/proximanova-regular-webfont.woff") format("woff"), url("../fonts/ProximaNova/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/ProximaNova/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.navbar .navbar-list {
  list-style: none;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  display: inline-flex; }
.navbar .navbar-links {
  color: #FFF;
  text-align: center;
  padding-right: 1em;
  font-size: 15px; }
  @media (min-width: 768px) {
    .navbar .navbar-links {
      font-size: 20px; } }
  @media (min-width: 992px) {
    .navbar .navbar-links {
      font-size: 20px; } }
.navbar .navbar-links:hover {
  color: #9ECC50; }

.logo {
  height: 10em;
  margin: 0 auto; }

#banner {
  padding: 1%;
  background-color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #000;
  font-size: 15px; }
  @media (min-width: 768px) {
    #banner {
      font-size: 26px; } }
  @media (min-width: 992px) {
    #banner {
      font-size: 35px; } }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

.containers {
  margin: 0;
  padding: 5%; }
  @media (min-width: 768px) {
    .containers {
      padding: 5%; } }
  @media (min-width: 992px) {
    .containers {
      padding: 5% 15%; } }

.containers--header, .containers--footer {
  background-color: #3e3c3c;
  display: block; }

.containers--footer {
  text-align: center; }

.containers--intro {
  background-color: #FFF; }

.containers--method {
  background-color: #394D5D; }

.container-btn {
  padding-top: .8em;
  padding-bottom: .8em;
  display: block;
  justify-content: center; }

.containers--section {
  background-color: #2B3944;
  display: block;
  justify-content: center;
  clear: both; }

.containers--section2 {
  background-color: #232E36;
  display: block;
  justify-content: center;
  clear: both; }

.containers--quote {
  background-color: #2F7392;
  display: block;
  justify-content: center;
  clear: both; }

.containers--nextsteps {
  background-color: #9ECC50; }

.containers--about {
  background-color: #FFF; }

.containers--green {
  background-color: #9ECC50; }

.font-h1,
.font-h2 {
  font-weight: 500;
  padding-bottom: .4em; }
  @media (min-width: 768px) {
    .font-h1,
    .font-h2 {
      padding-bottom: .8em; } }

.font-h1 {
  font-family: "LeagueGothic-Regular", sans-serif;
  color: #191919;
  margin: 0;
  font-size: 41px; }
  @media (min-width: 768px) {
    .font-h1 {
      font-size: 63px; } }
  @media (min-width: 992px) {
    .font-h1 {
      font-size: 85px; } }

.font-h2 {
  font-family: "Oswald", sans-serif;
  color: #FFF;
  font-size: 30px; }
  @media (min-width: 768px) {
    .font-h2 {
      font-size: 48px; } }
  @media (min-width: 992px) {
    .font-h2 {
      font-size: 65px; } }

.font-h2--dark {
  color: #191919; }

.font-h2--black {
  color: #000; }

.font-h3 {
  display: block;
  padding-bottom: 1em;
  color: #FFF;
  font-weight: 100;
  font-family: "Oswald", sans-serif;
  letter-spacing: .02em;
  line-height: 1.5;
  font-size: 15px; }
  @media (min-width: 768px) {
    .font-h3 {
      font-size: 26px; } }
  @media (min-width: 992px) {
    .font-h3 {
      font-size: 35px; } }

.font-h3--dark {
  color: #191919; }

h4 {
  margin: 0; }

.font-h4 {
  display: block;
  justify-content: center;
  text-align: center;
  letter-spacing: .02em;
  color: #FFF;
  font-weight: 200;
  font-family: "Oswald", sans-serif;
  padding: 1em 0;
  font-size: 16px; }
  @media (min-width: 768px) {
    .font-h4 {
      font-size: 28px;
      padding: 1.5em 0; } }
  @media (min-width: 992px) {
    .font-h4 {
      font-size: 38px; } }

.font-h4--alt {
  color: #2B3944;
  font-family: "Oswald", sans-serif; }

.font-h4--black {
  color: #000;
  padding-bottom: 1em;
  padding-top: .5em;
  text-align: left; }

.font-h4--bold {
  font-weight: 500; }

.font-h5 {
  color: #FFF;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  padding-bottom: .8em;
  font-size: 18px; }
  @media (min-width: 768px) {
    .font-h5 {
      font-size: 36px; } }
  @media (min-width: 992px) {
    .font-h5 {
      font-size: 55px; } }

.font-h5--quote {
  font-weight: 400;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em; }

.font-uppercase {
  text-transform: uppercase; }

.font-percent-numbers {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: #FFF;
  display: block;
  justify-content: center;
  margin: 0;
  text-align: center;
  font-size: 40px; }
  @media (min-width: 768px) {
    .font-percent-numbers {
      font-size: 70px;
      margin: 0 !important; } }
  @media (min-width: 992px) {
    .font-percent-numbers {
      font-size: 106px;
      margin: 0 !important; } }

.font-percent-words {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  color: #FFF;
  padding: 0;
  display: block;
  text-align: center;
  margin: 0 !important;
  font-size: 14px; }
  @media (min-width: 768px) {
    .font-percent-words {
      font-size: 30px;
      margin: 0 !important; } }
  @media (min-width: 992px) {
    .font-percent-words {
      font-size: 38px;
      margin: 0 !important; } }

.font-words-alignl {
  padding-right: .5em;
  display: block; }
  @media (min-width: 768px) {
    .font-words-alignl {
      padding-top: 1em; } }

.font-p {
  margin: auto;
  padding-bottom: 1em;
  line-height: 1.5em;
  color: #FFF;
  font-weight: 50;
  font-family: "proximanova-regular", serif;
  font-size: 14px;
  max-width: 960px; }
  @media (min-width: 768px) {
    .font-p {
      font-size: 20px; } }
  @media (min-width: 992px) {
    .font-p {
      font-size: 25px; } }

.font-p--large {
  font-size: 16px;
  padding-bottom: 0; }
  @media (min-width: 768px) {
    .font-p--large {
      font-size: 22px; } }
  @media (min-width: 992px) {
    .font-p--large {
      font-size: 28px; } }

.font-p--small {
  font-size: 12px; }
  @media (min-width: 768px) {
    .font-p--small {
      font-size: 14px; } }
  @media (min-width: 992px) {
    .font-p--small {
      font-size: 18px; } }

.font-p--dark {
  color: #191919; }

.font-p--italic {
  font-style: italic; }

.link {
  color: #FFF; }

.link:hover {
  color: #63666A; }

.link-alt {
  color: #9ECC50; }

.link-alt:hover {
  color: #FFF; }

.link--dark {
  color: #191919; }

.link--dark:hover {
  color: #9ECC50; }

.color-emphasis-red {
  color: #E03A47;
  font-weight: 200;
  padding-left: .1em;
  padding-right: .1em; }

.color-emphasis-lime {
  color: #9ECC50;
  font-weight: 200; }

.color-emphasis-white {
  color: #FFF; }

.section-break {
  padding-top: 2em; }

.icon {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  justify-content: center;
  margin: auto;
  color: #191919;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  display: inline-block;
  color: #191919;
  font-weight: 100;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  padding: .2em; }
  @media (min-width: 768px) {
    .icon {
      font-size: 25px; } }
  @media (min-width: 992px) {
    .icon {
      font-size: 25px; } }
  .icon .icon-dropdown {
    background-color: #FFF;
    font-family: "proximanova-regular", serif;
    font-weight: 200;
    margin: auto;
    color: #191919; }
  @media (min-width: 768px) {
    .icon {
      font-size: 20px; } }
  @media (min-width: 992px) {
    .icon {
      font-size: 25px; } }
  .icon .icon-dropdown {
    background-color: #FFF; }

#permalink {
  text-align: center;
  display: none; }

.dropdown-menu {
  position: absolute;
  left: 45% !important;
  padding: 0 1em;
  margin: 0 -1em; }
  @media (min-width: 768px) {
    .dropdown-menu {
      margin: auto; } }

.dropdown-navbar {
  border: none;
  position: absolute;
  padding: 0 1em;
  margin: 0 -1em; }
  @media (min-width: 768px) {
    .dropdown-menu {
      margin: auto; } }
.dropdown-navbar.show {
  display: contents;
}

.icon-people {
  display: block;
  object-fit: contain;
  text-align: center;
  padding: 1em 0 0 0;
  height: 60px; }
  @media (min-width: 768px) {
    .icon-people {
      padding-top: 2em; } }
  @media (min-width: 992px) {
    .icon-people {
      padding-top: 3em; } }
  @media (min-width: 1200px) {
    .icon-people {
      padding-top: 3em; } }
  @media (min-width: 768px) {
    .icon-people {
      height: 100px; } }
  @media (min-width: 992px) {
    .icon-people {
      height: 120px; } }
  @media (min-width: 1200px) {
    .icon-people {
      height: 150px; } }
  .icon-people .peopleImage {
    height: 100%; }
  .icon-people .peopleImage--lg {
    height: 35px;
    padding-right: .3em; }
    @media (min-width: 768px) {
      .icon-people .peopleImage--lg {
        height: 100px;
        padding-right: .8em; } }
    @media (min-width: 992px) {
      .icon-people .peopleImage--lg {
        height: 130px;
        padding-right: 1em; } }
    @media (min-width: 1200px) {
      .icon-people .peopleImage--lg {
        height: 150px;
        padding-right: 1.2em; } }

.icon-list__item {
  position: relative; }
  @media (min-width: 992px) {
    .icon-list__item {
      line-height: 4em; } }

.icon-list__text {
  padding: 0 0 0 30px; }
  @media (min-width: 768px) {
    .icon-list__text {
      padding: 0 0 0 40px; } }
  @media (min-width: 992px) {
    .icon-list__text {
      padding: 0 0 0 60px; } }

.icon-list__icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px; }
  @media (min-width: 768px) {
    .icon-list__icon {
      font-size: 30px; } }
  @media (min-width: 992px) {
    .icon-list__icon {
      font-size: 50px; } }

.btn--share {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  justify-content: center;
  margin: auto;
  color: #191919;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  background-color: #9ECC50;
  border: 0px; }
  @media (min-width: 768px) {
    .btn--share {
      font-size: 25px; } }
  @media (min-width: 992px) {
    .btn--share {
      font-size: 25px; } }
  .btn--share .icon-dropdown {
    background-color: #FFF;
    font-family: "proximanova-regular", serif;
    font-weight: 200;
    margin: auto;
    color: #191919; }

.btn--learnmore {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  justify-content: center;
  margin: auto;
  color: #191919;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  background-color: #FFF; }
  @media (min-width: 768px) {
    .btn--learnmore {
      font-size: 25px; } }
  @media (min-width: 992px) {
    .btn--learnmore {
      font-size: 25px; } }
  .btn--learnmore .icon-dropdown {
    background-color: #FFF;
    font-family: "proximanova-regular", serif;
    font-weight: 200;
    margin: auto;
    color: #191919; }

.labelW {
  color: #9ECC50; }

.labelM {
  color: #2F7392; }

.carousel {
  padding: 1em 1em 5em 1em; }

.carousel-inner {
  margin: 0 auto;
  height: 325px; }
  @media (min-width: 768px) {
    .carousel-inner {
      height: 450px; } }
  @media (min-width: 992px) {
    .carousel-inner {
      height: 800px; } }
  @media (min-width: 1200px) {
    .carousel-inner {
      height: 600px; } }

.carousel-fade .carousel-inner .item {
  transition-property: opacity; }
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0); }
.carousel-fade .carousel-control {
  z-index: 2; }

.carousel-control-next {
  right: -2em; }
  @media (min-width: 768px) {
    .carousel-control-next {
      right: -8em; } }

.carousel-control-prev {
  left: -2em; }
  @media (min-width: 768px) {
    .carousel-control-prev {
      left: -8em; } }

.carousel-indicators--round li {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 100%;
  line-height: 30px;
  list-style: circle;
  background-color: #2B3944; }
  @media (min-width: 768px) {
    .carousel-indicators--round li {
      width: 20px;
      height: 20px; } }
  @media (min-width: 992px) {
    .carousel-indicators--round li {
      width: 30px;
      height: 30px; } }
  .carousel-indicators--round li.active {
    margin: 0 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    list-style: circle;
    background-color: #FFF; }
    @media (min-width: 768px) {
      .carousel-indicators--round li.active {
        width: 20px;
        height: 20px; } }
    @media (min-width: 992px) {
      .carousel-indicators--round li.active {
        width: 30px;
        height: 30px; } }

.centerContent {
  justify-content: center;
  margin: 0 !important;
  padding: 0; }

.chart {
  margin: 0;
  padding: 0; }

#canvas.culture {
  width: 200px;
  height: 133px; }
  @media (min-width: 768px) {
    #canvas.culture {
      width: 380px;
      height: 253px; } }
  @media (min-width: 992px) {
    #canvas.culture {
      width: 514px;
      height: 343px; } }

.bar-container {
  margin: 0 auto;
  width: 194px;
  overflow: hidden;
  padding: .5em 0;
  position: relative; }
  @media (min-width: 768px) {
    .bar-container {
      width: 537px; } }
  @media (min-width: 992px) {
    .bar-container {
      width: 702px; } }
  .bar-container .font-h3 {
    padding-bottom: 0; }

.bar {
  height: 30px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 2em; }

.bar section {
  background-color: #63666A;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px; }

.barMulti section {
  background-color: inherit; }

.bar section:last-of-type {
  flex: auto; }

#women, #men, #results {
  vertical-align: middle;
  white-space: nowrap;
  overflow: visible;
  font-size: 14px;
  font-family: "proximanova-regular", serif; }
  @media (min-width: 768px) {
    #women, #men, #results {
      font-size: 20px;
      white-space: nowrap; } }

#women {
  background-color: #9ECC50;
  color: #000;
  text-align: left;
  padding-left: .3em; }

#men {
  background-color: #2F7392;
  position: -webkit-sticky;
  position: sticky;
  color: #FFF;
  text-align: right;
  padding-left: .3em; }

#results {
  background-color: #2F7392;
  position: -webkit-sticky;
  position: sticky;
  color: #FFF;
  text-align: center; }

.padding-0 {
  padding: 0; }

.padding-xxs {
  padding: 5px; }

.padding-xs {
  padding: 10px; }

.padding-sm {
  padding: 20px; }

.padding-md {
  padding: 30px; }

.padding-lg {
  padding: 40px; }

.padding-xl {
  padding: 50px; }

.padding-xxl {
  padding: 60px; }

.padding-top-0 {
  padding-top: 0; }

.padding-top-xxs {
  padding-top: 5px; }

.padding-top-xs {
  padding-top: 10px; }

.padding-top-sm {
  padding-top: 20px; }

.padding-top-md {
  padding-top: 30px; }

.padding-top-lg {
  padding-top: 40px; }

.padding-top-xl {
  padding-top: 50px; }

.padding-top-xxl {
  padding-top: 60px; }

.padding-right-0 {
  padding-right: 0; }

.padding-right-xxs {
  padding-right: 5px; }

.padding-right-xs {
  padding-right: 10px; }

.padding-right-sm {
  padding-right: 20px; }

.padding-right-md {
  padding-right: 30px; }

.padding-right-lg {
  padding-right: 40px; }

.padding-right-xl {
  padding-right: 50px; }

.padding-right-xxl {
  padding-right: 60px; }

.padding-bottom-0 {
  padding-bottom: 0; }

.padding-bottom-xxs {
  padding-bottom: 5px; }

.padding-bottom-xs {
  padding-bottom: 10px; }

.padding-bottom-sm {
  padding-bottom: 20px; }

.padding-bottom-md {
  padding-bottom: 30px; }

.padding-bottom-lg {
  padding-bottom: 40px; }

.padding-bottom-xl {
  padding-bottom: 50px; }

.padding-bottom-xxl {
  padding-bottom: 60px; }

.padding-left-0 {
  padding-left: 0; }

.padding-left-xxs {
  padding-left: 5px; }

.padding-left-xs {
  padding-left: 10px; }

.padding-left-sm {
  padding-left: 20px; }

.padding-left-md {
  padding-left: 30px; }

.padding-left-lg {
  padding-left: 40px; }

.padding-left-xl {
  padding-left: 50px; }

.padding-left-xxl {
  padding-left: 60px; }

.margin-0 {
  margin: 0; }

.margin-xxs {
  margin: 5px; }

.margin-xs {
  margin: 10px; }

.margin-sm {
  margin: 20px; }

.margin-md {
  margin: 30px; }

.margin-lg {
  margin: 40px; }

.margin-xl {
  margin: 50px; }

.margin-xxl {
  margin: 60px; }

.margin-top-0 {
  margin-top: 0; }

.margin-top-xxs {
  margin-top: 5px; }

.margin-top-xs {
  margin-top: 10px; }

.margin-top-sm {
  margin-top: 20px; }

.margin-top-md {
  margin-top: 30px; }

.margin-top-lg {
  margin-top: 40px; }

.margin-top-xl {
  margin-top: 50px; }

.margin-top-xxl {
  margin-top: 60px; }

.margin-right-0 {
  margin-right: 0; }

.margin-right-xxs {
  margin-right: 5px; }

.margin-right-xs {
  margin-right: 10px; }

.margin-right-sm {
  margin-right: 20px; }

.margin-right-md {
  margin-right: 30px; }

.margin-right-lg {
  margin-right: 40px; }

.margin-right-xl {
  margin-right: 50px; }

.margin-right-xxl {
  margin-right: 60px; }

.margin-bottom-0 {
  margin-bottom: 0; }

.margin-bottom-xxs {
  margin-bottom: 5px; }

.margin-bottom-xs {
  margin-bottom: 10px; }

.margin-bottom-sm {
  margin-bottom: 20px; }

.margin-bottom-md {
  margin-bottom: 30px; }

.margin-bottom-lg {
  margin-bottom: 40px; }

.margin-bottom-xl {
  margin-bottom: 50px; }

.margin-bottom-xxl {
  margin-bottom: 60px; }

.margin-left-0 {
  margin-left: 0; }

.margin-left-xxs {
  margin-left: 5px; }

.margin-left-xs {
  margin-left: 10px; }

.margin-left-sm {
  margin-left: 20px; }

.margin-left-md {
  margin-left: 30px; }

.margin-left-lg {
  margin-left: 40px; }

.margin-left-xl {
  margin-left: 50px; }

.margin-left-xxl {
  margin-left: 60px; }
